.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom-style: solid;
  border-bottom-width: 2;
  border-bottom-color: teal;
  background-color: #fff;
  background-color: #7c6c80;
}

.navLinks {
  display: flex;
  justify-content:center;
}

.navLinkItem {
  padding: 5px 15px 5px 15px;
}

.navLinkItem:hover .dropDown {
  display: block;
}

.navLinkItem:hover {
  background-color: #fff;
}

.navLinkText {
  font-size: 11.7px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
